*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/.idea/*
/FakeNewsDetectorApp/.idea/*
/FakeNewsDetectorBackend/aiModule/.idea/*
/FakeNewsDetectorBackend/djangoBackend/djangoProject/users/migrations/*
/FakeNewsDetectorBackend/djangoBackend/djangoProject/users/__pycache__/*